@charset "UTF-8";

h1 {
    text-align: center;
    font-size: 1.5em;
}

.grid {
    display: grid;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #24b694;
}

.item {
    margin: 5px;
    background: #1d1313;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.grid-template {
    grid-template-columns: 200px 200px;
}

.grid-template-2 {
    grid-template-columns: 1fr 2fr 1fr;
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.subgrid > div {
    background-color: #d2204198;
}