@charset "UTF-8";

h1 {
    text-align: center;
    font-size: 1.5em;
}

.grid {
    display: grid;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #24b694;
}

.item {
    margin: 5px;
    background: #1d1313;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.grid-template {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 150px;
}

.grid-template-area {
    display: grid;
    max-width: 500px;
    margin: auto;
    border: 1px solid #24b694;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50px 150px 50px;
    grid-template-areas: 
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer";
}

.logo {
    grid-area: logo;
}

.nav {
    grid-area: nav;
}

.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
}

.advert {
    grid-area: advert;
}

.footer {
    grid-area: footer;
}

.grid-template1 {
    border: 1px solid #24b694;
    text-align: center;
    display: grid;
    max-width: 500px;
    margin: 10px auto;
    grid-template: 100px 50px / repeat(3, 1fr);
    grid-template: 
    "eu gosto de" 200px
    "conversar com voce" 150px
    "tres tres tres"
    / 150px 2fr 150px;
    gap: 5px 15px;
}

.eu {
    grid-area: eu;
}

.gosto {
    grid-area: gosto;
}

.de {
    grid-area: de;
}

.conversar {
    grid-area: conversar;
}

.com {
    grid-area: com;
}

.voce {
    grid-area: voce;
}

.tres {
    grid-area: tres;
}